.footer {
  background-color: #454545;
  color: white;
  padding: 5px 20px 20px 25px;
  
  height: 200px;
  @include tablets-only{
    text-align: center;
  }
}
.footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
  
  li {
    margin: 5px;
    line-height: 1em;
    
    p {
      color: white;
      margin: 0;
    }
    a {
      text-decoration: none;
      color: white;
      .__container {
        
        display: flex;
        flex-direction: row;
        align-items: center;
        @include tablets-only{
          justify-content: center;
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }
}
