.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  animation: splash ease-in-out 3s both;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-secondary;
    z-index: 11;
    animation: background-shift ease-in-out 3s;
  }

  .image {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 300px;
    height: 50px;
    -webkit-mask: url(../../public/Images/ohmyfood@2x.svg) no-repeat 50% 50%;
    mask: url(../../public/Images/ohmyfood@2x.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: white;
    z-index: 12;
  }

  p {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2em;
    z-index: 12;
  }
}
@keyframes splash {
  from {
    transform: translateY(0);
  }
  99% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-9999px);
  }
}
@keyframes background-shift {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// Spinner //
$cd-bars: #15dea5;
$anim-dur: 2000ms;
$num-bars: 4;
$anim-delay: 100ms;
$size: 8px;

.spinner {
  z-index: 12;
  width: $size * 5;
  height: $size * 6;
  display: flex;
  justify-content: center;
  gap:5px;
  &__bar {
    background-color: rgba(255, 255, 255, 0.805);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.483);
    margin:0;
    height: 100%;
    border-radius: 5px;
    width: $size;
    animation: bars $anim-dur ease-in-out backwards infinite alternate;
    @for $i from 1 through $num-bars {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
  }
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
