@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

body {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  color: black;
}

.menu h2 {
  font-family: "Shrikhand", cursive;
}
.menu h3 {
  text-transform: uppercase;
}

.footer h2 {
  font-family: "Shrikhand", cursive;
}

.gradientButton {
  font-size: 1em;
  position: relative;
  display: inline;
  padding: 1.25rem;
  margin: 0 auto;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 50px;
  color: white;
  border: none;
  box-shadow: 0 0px 10px grey;
  text-align: center;
  z-index: 1;
  transform: scale(1);
}
.gradientButton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  opacity: 0;
  z-index: -1;
  transition: opacity ease-in-out 50ms;
}
.gradientButton:hover {
  box-shadow: 0px 0px 15px #4d4d4d;
}
.gradientButton:hover::after {
  opacity: 1;
}

.header {
  position: relative;
  background-color: white;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.381);
}
.header__logo {
  height: 2rem;
}
.header a {
  display: inline-block;
  position: absolute;
  font-size: 2em;
  left: 30px;
  color: black;
}

.footer {
  background-color: #454545;
  color: white;
  padding: 20px;
  height: 200px;
}

ul.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-block-start: 0 !important;
  padding-inline-start: 0px !important;
}
ul.list li {
  margin: 5px;
}
ul.list li p {
  color: white;
  margin: 0;
}
ul.list li a {
  text-decoration: none;
  color: white;
}
ul.list li a .__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
ul.list li a .__container i {
  margin-right: 10px;
}

.location {
  height: 50px;
}
.location__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.location__container p {
  padding: 5px 20px;
  font-size: 1.3em;
}

.reserver {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 20px;
  height: 290px;
  text-align: center;
  background-color: #f8f8f8;
}

.fonctionnement {
  background-color: white;
  padding: 20px 20px;
}
.fonctionnement a {
  text-decoration: none;
}

.fonctionContainer {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 100%;
}
.fonctionContainer__choice {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
  box-shadow: 0 0px 10px grey;
  border-radius: 20px;
}
.fonctionContainer__choice .number {
  position: relative;
  left: -15px;
  padding: 5px 10px;
  background-color: #9356dc;
  color: white;
  border-radius: 50px;
}
.fonctionContainer__choice i {
  font-size: 1.5em;
  color: gray;
}
.fonctionContainer__choice p {
  padding: 0 30px;
}

.restaurants {
  background-color: #f8f8f8;
  padding: 20px 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
.restaurants a {
  text-decoration: none;
  color: black;
  margin: 0;
}
.restaurants a:nth-child(3) .blocRestaurant img {
  object-position: 0 -165px;
}

.blocRestaurant {
  box-shadow: 0 0px 10px grey;
  border-radius: 15px;
}
.blocRestaurant__img {
  position: relative;
}
.blocRestaurant__img p {
  position: absolute;
  right: 15px;
  color: #00967c;
  background-color: #a2e5da;
  padding: 5px 15px;
  border-radius: 3px;
}
.blocRestaurant__img img {
  border-radius: 15px 15px 0 0;
  height: 175px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
.blocRestaurant__footer {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.blocRestaurant__footerDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
.blocRestaurant__footerDescription h3,
.blocRestaurant__footerDescription p {
  margin: 2px;
}
.blocRestaurant__footerIco {
  width: 2em;
  font-size: 2em;
  line-height: 2em;
}
.blocRestaurant__footerIco button {
  display: block;
  background: none;
  overflow: hidden;
  border: none;
}
.blocRestaurant__footerIco button i {
  color: black;
  font-size: 1em;
  padding: 15px 0;
}
.blocRestaurant__footerIco button .animate {
  background: linear-gradient(to bottom right, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.blocRestaurant__footerIco button:hover .animate {
  opacity: 1;
  transition: opacity ease-in-out 0.3s;
}
.blocRestaurant__footerIco button:hover .fa-inverse {
  opacity: 0;
  transition: opacity ease-out 0.3s;
}

.menu-img img {
  height: 250px;
  width: 100%;
  object-position: bottom;
  object-fit: cover;
}

.menu {
  position: relative;
  padding: 30px 15px;
  background-color: #eeeeee;
  border-radius: 30px 30px 0 0;
  margin-top: -30px;
  z-index: 1;
}
.menu .menuTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.menu .menuTitle button {
  display: block;
  background: none;
  overflow: hidden;
  border: none;
}
.menu .menuTitle button i {
  color: black;
  font-size: 1em;
  padding: 15px 0;
}
.menu .menuTitle button .animate {
  background: linear-gradient(to bottom right, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.menu .menuTitle button:hover .animate {
  opacity: 1;
  transition: opacity ease-in-out 0.3s;
}
.menu .menuTitle button:hover .fa-inverse {
  opacity: 0;
  transition: opacity ease-out 0.3s;
}
.menu .shopit {
  display: flex;
}
.menu h3 span {
  border-bottom: 2px solid #99e2d0;
}

.blocPlat {
  box-shadow: 0 0px 10px grey;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  height: 75px;
  display: flex;
  align-items: center;
}
.blocPlat__description {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.blocPlat__description p {
  margin: 5px;
}
.blocPlat__descriptionPrice {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blocPlat__selected {
  display: none;
  background-color: yellowgreen;
  margin: 10px 20px;
}
.blocPlat:hover {
  background-color: violet;
  transform: scale(1.05);
}
.blocPlat:hover + .blocPlat__selected {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
