@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

body {
  width: 100%;
  margin: 0 auto;
  min-width: 240px;
}
@media screen and (min-width: 1200px) {
  body {
    max-width: 1440px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  color: black;
  letter-spacing: normal;
}

.location__container p {
  margin-top: 0.8125em;
  margin-bottom: 0.8125em;
  padding: 0 1.25em;
  font-size: 1.2rem;
}

h1 {
  font-size: 1.6rem;
  margin: 0 1.25em;
  margin-bottom: 0.4375em;
}

.reserver p {
  font-size: 1.2rem;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1.5625em;
  color: rgba(0, 0, 0, 0.682);
}

.menu h2 {
  font-family: "Shrikhand", cursive;
}
.menu h3 {
  text-transform: uppercase;
}

.footer h2 {
  font-family: "Shrikhand", cursive;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.292);
  animation: splash ease-in-out 0s;
  animation-fill-mode: both;
  z-index: 99;
}
.splash h2 {
  font-family: "Shrikhand", cursive;
  font-size: 6em;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 0.125em;
  background-clip: text;
  color: white;
}
.splash p {
  color: white;
  font-size: 1.2em;
}

@keyframes splash {
  from {
    display: flex;
    background-color: #9356dc;
    transform: translateY(0);
  }
  99% {
    transform: translateY(0);
  }
  to {
    background-color: #ff79da;
    transform: translateY(-9999px);
  }
}
@keyframes loading-background {
  0% {
    background: linear-gradient(to right, red, white 0px);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  25% {
    background: linear-gradient(to right, red, white 50px);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  50% {
    background: linear-gradient(to right, red, white 100px);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  75% {
    background: linear-gradient(to right, red, white 450px);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  100% {
    background: linear-gradient(to right, red 500px, white 100px);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
@keyframes menu-title {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 0.9;
  }
}
@keyframes menu-items {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.titleAnim-0 {
  transform-origin: bottom;
  animation: menu-items ease 1000ms;
  animation-fill-mode: both;
  animation-delay: 0ms;
}
.titleAnim-0_Anim-0 {
  transform-origin: bottom;
  animation: menu-items ease-in-out 1000ms;
  animation-fill-mode: both;
  animation-delay: 500ms;
}
.titleAnim-0_Anim-1 {
  transform-origin: bottom;
  animation: menu-items ease-in-out 1000ms;
  animation-fill-mode: both;
  animation-delay: 700ms;
}
.titleAnim-0_Anim-2 {
  transform-origin: bottom;
  animation: menu-items ease-in-out 1000ms;
  animation-fill-mode: both;
  animation-delay: 900ms;
}

.titleAnim-1 {
  transform-origin: bottom;
  animation: menu-items ease 1000ms;
  animation-fill-mode: both;
  animation-delay: 500ms;
}
.titleAnim-1_Anim-0 {
  transform-origin: bottom;
  animation: menu-items ease-in-out 1000ms;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}
.titleAnim-1_Anim-1 {
  transform-origin: bottom;
  animation: menu-items ease-in-out 1000ms;
  animation-fill-mode: both;
  animation-delay: 1200ms;
}
.titleAnim-1_Anim-2 {
  transform-origin: bottom;
  animation: menu-items ease-in-out 1000ms;
  animation-fill-mode: both;
  animation-delay: 1400ms;
}

.titleAnim-2 {
  transform-origin: bottom;
  animation: menu-items ease 1000ms;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}
.titleAnim-2_Anim-0 {
  transform-origin: bottom;
  animation: menu-items ease-in-out 1000ms;
  animation-fill-mode: both;
  animation-delay: 1500ms;
}
.titleAnim-2_Anim-1 {
  transform-origin: bottom;
  animation: menu-items ease-in-out 1000ms;
  animation-fill-mode: both;
  animation-delay: 1700ms;
}
.titleAnim-2_Anim-2 {
  transform-origin: bottom;
  animation: menu-items ease-in-out 1000ms;
  animation-fill-mode: both;
  animation-delay: 1900ms;
}

.gradientButton {
  font-size: 1.1em;
  position: relative;
  display: inline;
  padding: 0.8125em 1.875em;
  margin: 0 auto;
  text-shadow: 0 0 1px black;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 50px;
  color: white;
  border: none;
  box-shadow: 0 0px 10px grey;
  text-align: center;
  z-index: 1;
  transform: scale(1);
}
.gradientButton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  opacity: 0;
  z-index: -1;
  transition: opacity ease-in-out 50ms;
}
.gradientButton:hover {
  box-shadow: 0px 0px 15px #4d4d4d;
}
.gradientButton:hover::after {
  opacity: 1;
}

.header {
  position: relative;
  background-color: white;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.381);
}
.header__logo {
  height: 2rem;
}
.header a {
  display: inline-block;
  position: absolute;
  font-size: 2em;
  left: 30px;
  color: black;
}

.footer {
  background-color: #454545;
  color: white;
  padding: 20px;
  height: 200px;
}
@media screen and (min-width: 576px) {
  .footer {
    text-align: center;
  }
}

.footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.footer ul li {
  margin: 5px;
}
.footer ul li p {
  color: white;
  margin: 0;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}
.footer ul li a .__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .footer ul li a .__container {
    justify-content: center;
  }
}
.footer ul li a .__container i {
  margin-right: 10px;
}

.location__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reserver {
  display: flex;
  flex-direction: column;
  padding: 2.5em 1.25em 3.75em 1.25em;
  text-align: center;
  background-color: #f8f8f8;
}

.fonctionnement {
  background-color: white;
  padding: 30px 20px;
}
.fonctionnement a {
  text-decoration: none;
}

.fonctionnementFlex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  .fonctionnementFlex {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .fonctionnementFlex {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
  }
}

.fonctionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.fonctionContainer__choice {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 98%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
  margin-left: 10px;
  margin-right: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.209);
  border-radius: 15px;
}
.fonctionContainer__choice .number {
  position: relative;
  left: -15px;
  padding: 5px 10px;
  background-color: #9356dc;
  color: white;
  border-radius: 50px;
}
.fonctionContainer__choice i {
  font-size: 1.5em;
  text-align: center;
  width: 20px;
  color: gray;
}
.fonctionContainer__choice p {
  padding: 0.75em 30px;
}

.restaurants {
  background-color: #f8f8f8;
  padding: 20px 20px;
  padding-bottom: 50px;
}

.restaurantsFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .restaurantsFlex {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
  }
}
.restaurantsFlex a {
  text-decoration: none;
  color: black;
  margin: 0;
}
.restaurantsFlex a:nth-child(3) .blocRestaurant img {
  object-position: center;
}

.blocRestaurant {
  box-shadow: 0 0px 10px grey;
  border-radius: 15px;
}
.blocRestaurant__img {
  position: relative;
  height: 175px;
}
.blocRestaurant__img p {
  position: absolute;
  right: 15px;
  color: #00967c;
  background-color: #a2e5da;
  padding: 5px 15px;
  border-radius: 3px;
}
.blocRestaurant__img img {
  border-radius: 15px 15px 0 0;
  height: 10.9375rem;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
@media screen and (min-width: 576px) {
  .blocRestaurant__img img {
    object-position: center;
  }
}
.blocRestaurant__footer {
  height: 4.875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.blocRestaurant__footerDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
.blocRestaurant__footerDescription h3,
.blocRestaurant__footerDescription p {
  margin: 2px;
}
.blocRestaurant__footerIco .button {
  display: block;
  background: none;
  overflow: hidden;
  border: none;
}
.blocRestaurant__footerIco .button i {
  color: black;
  font-size: 1em;
  padding: 15px 0;
}
.blocRestaurant__footerIco .button .animate {
  background: linear-gradient(to bottom right, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.blocRestaurant__footerIco .button:hover .animate {
  opacity: 1;
  transition: opacity ease-in-out 0.3s;
}
.blocRestaurant__footerIco .button:hover .fa-inverse {
  opacity: 0;
  transition: opacity ease-out 0.3s;
}

.menu-img img {
  height: 250px;
  width: 100%;
  object-position: bottom;
  object-fit: cover;
}
@media screen and (min-width: 1200px) {
  .menu-img img {
    object-position: top;
    object-fit: cover;
  }
}

.menu {
  position: relative;
  padding: 30px 15px;
  background-color: #eeeeee;
  border-radius: 30px 30px 0 0;
  margin-top: -30px;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media screen and (min-width: 576px) {
  .menu {
    margin-left: 2em;
    margin-right: 2em;
  }
}
.menu .menuTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  opacity: 1;
}
.menu .menuTitle .button {
  display: block;
  background: none;
  overflow: hidden;
  border: none;
}
.menu .menuTitle .button i {
  color: black;
  font-size: 1em;
  padding: 15px 0;
}
.menu .menuTitle .button .animate {
  background: linear-gradient(to bottom right, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.menu .menuTitle .button:hover .animate {
  opacity: 1;
  transition: opacity ease-in-out 0.3s;
}
.menu .menuTitle .button:hover .fa-inverse {
  opacity: 0;
  transition: opacity ease-out 0.3s;
}
.menu .addCart-btn {
  margin: 40px 0;
  display: flex;
}
.menu h3 span {
  border-bottom: 2px solid #99e2d0;
}

.menuFlex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .menuFlex {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}

.menuItemFlex {
  padding: 0;
  width: 99%;
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 70px;
  max-height: 70px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.264);
  border-radius: 15px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.menuItemFlex p {
  margin: 5px 0;
}
.menuItemFlex .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 4;
  padding: 10px 20px;
  overflow: hidden;
}
.menuItemFlex .description p {
  line-height: 1.5em;
  max-height: 40px;
}
.menuItemFlex .description .descPrice {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 40px;
  flex-wrap: nowrap;
}
.menuItemFlex .description .descPrice .desc {
  margin: 0;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 40px;
  display: inline-block;
}
.menuItemFlex .description .descPrice .desc h2 {
  display: inline-block;
}
.menuItemFlex .checked {
  background-color: #99e2d0;
  height: max-content;
  width: 0%;
  height: 100%;
  margin: 0 0px;
  padding: 0 0px;
}
.menuItemFlex .checked i {
  padding: 20px 20px;
}
.menuItemFlex:hover .description {
  transition: flex 1000ms;
}
.menuItemFlex:hover .checked {
  transition: all 1000ms;
  width: calc(2em + 40px);
}
.menuItemFlex:hover .checked i {
  transform: rotate(2turn);
  transition: transform ease-out 1s;
}

/*# sourceMappingURL=styles.css.map */
