@import "../utils/mixins";
.gradientButton {
  font-size: 1.1em;
  position: relative;
  display: inline;
  padding: em(13) em(30);
  margin: 0 auto;
  text-shadow: 0 0 1px black;
  background: $color-big_button;
  border-radius: 50px;
  color: white;
  border: none;
  @include box-shadows;
  text-align: center;
  z-index: 1;
  transform: scale(1);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.200);
    border-radius: 50px;
    opacity: 0;
    transform: scale(1);
    z-index: -1;
    transition: opacity ease-in-out 50ms;

  }
  &:hover {
    cursor:pointer;
    box-shadow: 0px 0px 15px (darken($color: $color-shadow, $amount: 40));
    transform: scale(1.05);
    // transform: scale(1.01);
    &::after {
      opacity: 1;
    }
  }
}
