html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

body {
  width: 100%;
  margin: 0 auto;
  // max-width: 500px;
  @include computers {
    max-width: 1440px;
  }
}
