// Localisation - champ de recherche
.location__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// Hero section
.reserver {
  display: flex;
  flex-direction: column;
  padding: em(40) em(20) em(57) em(20);
  text-align: center;
  background-color: $bkg-light;
} // => paramètres du bouton dans components/_buttons.scss

// Section Fonctionnement
.fonctionnement {
  background-color: white;
  padding: 30px 20px;
  a {
    text-decoration: none;
  }
}
.fonctionnementFlex {
  
  display: flex;
  flex-direction: column;
  margin-bottom: rem(30);
  @include tablets-only {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  @include computers {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
  }
}
.fonctionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  
  &__choice {
    background-color: $bkg-light;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 75px;
    width: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 20px 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.209);
    border-radius: 15px;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      border-radius: 15px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      opacity: 0;
      background-color: rgba($color-primary, 0.1);
    }
    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
      transition: box-shadow 200ms ease-in-out;
      &::after{
        opacity:1;
        transition: opacity 200ms ease-in-out;
      }
      & i {
        color: $color-primary;
      }
   
    }
    .number {
      position: relative;
      left: -15px;
      padding: 5px 10px;
      background-color: $color-primary;
      color: white;
      border-radius: 50px;
    }
    i {
      font-size: 1.5em;
      text-align: center;
      width: 20px;
      color: gray;
    }
    p {
      padding: em(12) em(30);
    }
  }
}

// Carte des restaurants

// Section
.restaurants {
  background-color: $bkg-light;
  padding: 20px 20px;
  padding-top: 35px;
  padding-bottom: 64px;
}
// Conteneur Flex
.restaurantsFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  @include computers {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
  }
  a {
    text-decoration: none;
    color: black;
    margin: 0;
  }
  div:nth-child(2) a .blocRestaurant img {
    
    object-position: 0px 60%;
  }
}
// Bloc Resaurant
.blocRestaurant {
  @include box-shadows;
  border-radius: 15px;
  @include computers{
    min-width: 300px;
  }
  &__img {
    position: relative;
    height: 175px;
    p {
      position: absolute;
      right: 15px;
      color: #00967c;
      background-color: #a2e5da;
      padding: 5px 15px;
      border-radius: 3px;
    }
    img {
      border-radius: 15px 15px 0 0;
      height: rem(175);
      width: 100%;
      object-fit: cover;
      object-position: bottom;
      @include tablets-only {
        object-position: center;
      }
    }
  }
  &__footer {
    height: rem(78);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    &Description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
      h3,
      p {
        margin: 2px;
      }
    }
  }
&:hover{
  box-shadow: 0 0px 10px darken($color-shadow, 50);
  transition: box-shadow 300ms;
  
}  
}
.restaurantJaime {
  position: relative;

  //Bouton Favoris (coeur)
  .jaime {
    width: min-content;
    display: inline-block;
    position: absolute;
    bottom: 6px;
    right: 5px;
    @include favorite;
  }
}
