// Image top page
.menu-img {
  img {
    height: 250px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    @include tablets-only {
      height: 400px;
    }
    @include computers {
      object-position: top;
      object-fit: cover;
      height: 300px;
    }
  }
}
// Menu Section
.menu {
  position: relative;
  padding: 10px 15px;
  background-color: $bkg-dark;
  border-radius: 35px 35px 0 0;
  margin-top: -35px;
  z-index: 1;
  @include computers {
    margin-left: 2em;
    margin-right: 2em;
  }
  @include tablets-only {
    margin-left: 2em;
    margin-right: 2em;
  }

  //Nom du menu
  .menuTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.button {
      padding-top: 5px;
    }
    @include favorite;
    opacity: 1;
    @include tablets-only {
      margin: em(20) em(40);
    }
    @include computers {
      margin: em(20) em(40);
    }
  }
  .addCart-btn {
    margin: 38px 0 75px 0;
    display: flex;
  }
  h3 span {
    border-bottom: 3px solid $color-third;
    padding-bottom: 5px;
  }
}
// Conteneur Flex Global
.menuFlex {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include computers {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  @include tablets-only {
    margin: em(20) em(40);
  }
}
// Item
.menuItemFlex {
  padding: 0;
  width: 100%;
  @include computers {
    width: 350px;
  }
  margin-bottom: 14px;
  box-sizing: border-box;
  height: 68px;
  max-height: 70px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  p {
    margin: 0px 0;
    font-size: 1.1em;
    font-weight: 100;
  }
  // Partie basse de l'item
  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 4;
    padding: 10px 20px 10px 10px;
    overflow: hidden;

    .descPrice {
      height: 100%;
      display: flex;

      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;

      .desc {
        display: inline;
        margin: 0;
        min-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5em;
        font-size: 0.95em;
        white-space: nowrap;
      }
    }
  }
  // Check green button
  .checked {
    color: white;
    background-color: $color-third;
    height: max-content;
    width: 0%;
    height: 100%;
    margin: 0 0px;
    padding: 6px 0px;
    i {
      font-size: 1.5em;
      line-height: 2em;
      padding: 10px 18px;
    }
  }
  &:hover {
    cursor: pointer;
    .description {
      transition: flex 1000ms;
    }
    .checked {
      transition: all 1000ms;
      width: calc(1.6em + 35px);
      i {
        transform: rotate(2turn);
        transition: transform ease-out 1s;
      }
    }
  }
}
