//menu-items
@keyframes menu-items{
    from {
      transform:translateY($start-shift);
      opacity: 0;
    }
    to {
      transform:translateY(0px);
      opacity: 1;
    }
  }
  // ==> déclaration des classes pour les timmings

  @for $g from 0 through 2{
    .titleAnim-#{$g}{
    transform-origin: bottom;
    animation: menu-items ease $menu-title-duration ;
    animation-fill-mode: both;
    animation-delay: $g*$group-delay;
    @for $i from 0 through 3{
        &_Anim-#{$i}{
        transform-origin: bottom;
        animation: menu-items ease-in-out $fade-duration ;
        animation-fill-mode: both;
        animation-delay: (($i*$fade-delay) + ($menu-title-duration /2) + ($g*500));
        }
      }
    }
  }

// ==> _Variables
  