@mixin box-shadows {
    
    box-shadow: 0 0px 10px $color-shadow;
    

}

@mixin favorite{
    button {
        display: block;
        background: none;
        overflow: hidden;
        border: none;
        
        i {
          color: black;
          font-size: 1em;
          padding: 15px 0;
          
        }
        .animate {
          background: $heart-color;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0;
        }
        &:hover {
          .animate {
            opacity: 1;
            transition: opacity ease-in-out $heart-speed;
          }
          .fa-inverse {
            opacity: 0;
            transition: opacity ease-out $heart-speed;
          }
        }
      }
}

//Media queries

@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)){
      @content;
  }
}
@mixin tablets-only {
  @media screen and (max-width: map-get($breakpoints, tablets)){
      @content;
  }
}
@mixin computers {
  @media screen and (max-width: map-get($breakpoints, computer)){
      @content;
  }
}